In [1]:
print("Hello World")

Hello World

In [2]:
print("First commit")

First commit

In [2]:
import pandas as pd
from matplotlib import pyplot as plt

In [74]:
data=pd.read_csv(r"C:\Users\vinay\Downloads\Invistico_Airline.csv")
data.shape

(129880, 22)

In [75]:
data.head()

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0.0

In [70]:
from sklearn.model_selection import train_test_split as tts

In [71]:
label=data['satisfaction']

In [72]:
label.tail()

129875   NaN
129876   NaN
129877   NaN
129878   NaN
129879   NaN
Name: satisfaction, dtype: float64

In [73]:
data['satisfaction']=data['satisfaction'].map({'satisfied':1, 'dissatisfied':0})
data.head()

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,NaN,NaN,65,NaN,NaN,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0.0
1,NaN,NaN,47,NaN,NaN,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305.0
2,NaN,NaN,15,NaN,NaN,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0.0
3,NaN,NaN,60,NaN,NaN,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0.0
4,NaN,NaN,70,NaN,NaN,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0.0

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 22 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   satisfaction                       0 non-null       float64
 1   Customer Type                      129880 non-null  object
 2   Age                                129880 non-null  int64
 3   Type of Travel                     129880 non-null  object
 4   Class                              129880 non-null  object
 5   Flight Distance                    129880 non-null  int64
 6   Seat comfort                       129880 non-null  int64
 7   Departure/Arrival time convenient  129880 non-null  int64
 8   Food and drink                     129880 non-null  int64
 9   Gate location                      129880 non-null  int64
 10  Inflight wifi service              129880 non-null  int64
 11  Inflight entertainment             129880 non-null  int64
 12  Online support                     129880 non-null  int64
 13  Ease of Online booking             129880 non-null  int64
 14  On-board service                   129880 non-null  int64
 15  Leg room service                   129880 non-null  int64
 16  Baggage handling                   129880 non-null  int64
 17  Checkin service                    129880 non-null  int64
 18  Cleanliness                        129880 non-null  int64
 19  Online boarding                    129880 non-null  int64
 20  Departure Delay in Minutes         129880 non-null  int64
 21  Arrival Delay in Minutes           129487 non-null  float64
dtypes: float64(2), int64(17), object(3)
memory usage: 21.8+ MB

In [48]:
s1=set()
for i in data1['Customer Type']:
    s1.add(i)
s1

{'Loyal Customer', 'disloyal Customer'}

In [50]:
data['Customer Type']=data['Customer Type'].map({'Loyal Customer':1, 'disloyal Customer':0})

In [55]:
def numeric(x):
    s=set()
    for i in data1[x]:
        s.add(i)
    return s

In [56]:
numeric('Class')

{'Business', 'Eco', 'Eco Plus'}

In [61]:
data['Class']=data['Class'].map({'Business':1, 'Eco':2, 'Eco Plus':3})

In [63]:
numeric('Type of Travel')

{'Business travel', 'Personal Travel'}

In [80]:
data['Type of Travel']=data['Type of Travel'].map({'Business travel':1, 'Personal Travel':2})
data
#issue with NaN (The strings were not replaced with the numbers)

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Loyal Customer,65,2,Eco,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Loyal Customer,47,2,Business,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Loyal Customer,15,2,Eco,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Loyal Customer,60,2,Eco,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Loyal Customer,70,2,Eco,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,satisfied,disloyal Customer,29,2,Eco,1731,5,5,5,3,...,2,2,3,3,4,4,4,2,0,0.0
129876,dissatisfied,disloyal Customer,63,2,Business,2087,2,3,2,4,...,1,3,2,3,3,1,2,1,174,172.0
129877,dissatisfied,disloyal Customer,69,2,Eco,2320,3,0,3,3,...,2,4,4,3,4,2,3,2,155,163.0
129878,dissatisfied,disloyal Customer,66,2,Eco,2450,3,2,3,2,...,2,3,3,2,3,2,1,2,193,205.0
129879,dissatisfied,disloyal Customer,38,2,Eco,4307,3,4,3,3,...,3,4,5,5,5,3,3,3,185,186.0

In [65]:
label=data['satisfaction']

In [66]:
label

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
129875   NaN
129876   NaN
129877   NaN
129878   NaN
129879   NaN
Name: satisfaction, Length: 129880, dtype: float64

In [68]:
data1=data.drop('satisfaction', axis=1)
data1.tail()

,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
129875,NaN,29,2,NaN,1731,5,5,5,3,2,...,2,2,3,3,4,4,4,2,0,0.0
129876,NaN,63,2,NaN,2087,2,3,2,4,2,...,1,3,2,3,3,1,2,1,174,172.0
129877,NaN,69,2,NaN,2320,3,0,3,3,3,...,2,4,4,3,4,2,3,2,155,163.0
129878,NaN,66,2,NaN,2450,3,2,3,2,3,...,2,3,3,2,3,2,1,2,193,205.0
129879,NaN,38,2,NaN,4307,3,4,3,3,3,...,3,4,5,5,5,3,3,3,185,186.0

In [76]:
x_train, x_test, y_train,y_test=tts(data1, label, test_size=0.3)

In [77]:
x_train.head()
x_train.shape

(90916, 21)

In [78]:
# from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegression

In [79]:
model=LogisticRegression()
model.fit(x_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').